body
{
    height: 100%;
    width: 100%;
    margin: 0;
}
html{
    background-color: whitesmoke;
}


.NavigationBar{
    border-bottom: solid;
}

.NavigationBar ul, .NavigationBar ul li a{
    padding: 30pt;
    margin: 0;
    border-bottom: solid;
}

#logo1{
    float: left;
}
.navigationlist{
    float: right;
}
.NavigationBar ul li {
    display: inline-block;
    alignment: right;
    text-decoration: none;
}


.NavigationBar ul li a{
    text-decoration: none;
    color:black ;
    margin: auto;
}

.NavigationBar ul li a:hover{
    color: chocolate;  /*musst du selber entscheiden, je nachdem wie das Logo aussehen wird würde ich dann auch die Farbe im allgemeinen nochmal beschprechen */
}