body
{
    height: 100%;
    width: 100%;
    margin: 0;
}

div
{

}
.NavigationBar
{
    list-style-type: none;
    position: fixed;
    width: inherit;
    height: auto;
    top:0pt;
    background-color: black;
}

.navigationlist
{

    margin: auto;
}

.NavigationBar ul
{

}
.NavigationBar ul li
{

    padding:20pt;
    list-style: none;
    font-family: Arial;
    display: inline-block;
    color: whitesmoke;

}

.NavigationBar ul :hover
{
    background-color: whitesmoke;
    color: black;
}

.Home
{

    height: inherit;
    width: 100%;
}