body
{
    height: 100%;
    width: 100%;
    margin: 0;
}


html{
    background-color: whitesmoke;
}

.NavigationBar{
    display: block;
    overflow: auto;
}

.NavigationBar ul, .NavigationBar ul li a{
    padding: 30pt;
    margin: 0;
    bottom: 0pt;
}

.clear{
    content: "";
    display: table;
    clear: both;
}

.navigationlist{
    float: right;
}
.NavigationBar ul li {
    float: left;
    list-style:none;
    alignment: right;
    text-decoration: none;
}


.NavigationBar ul li a{
    text-decoration: none;
    color:black ;
    margin: auto;
    font-family: Arial;
}

.NavigationBar ul li a:hover{
    color: chocolate;  /*musst du selber entscheiden, je nachdem wie das Logo aussehen wird würde ich dann auch die Farbe im allgemeinen nochmal beschprechen */
}


#logo1{
    float: left;
    height: inherit;
}

#logo1 img{
    height: 71pt;
    width: 140pt;
}

.gap{
    background-color: chocolate;
    height: 5pt;
}

.Home1{
    height: 450px;
    background: url("../../../img/shutterstock_192605060_GRAFIK-4846_WDE_strand_meer_palmen_20170215_DAM.jpg") rgba(1,1,1,0.6);
    background-size: 100% 100%;
    color: transparent;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.HomeGallery {
    height: auto;
    background: url("../../../img/shutterstock_192605060_GRAFIK-4846_WDE_strand_meer_palmen_20170215_DAM.jpg") rgba(1,1,1,0.6);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer{
    background-color: whitesmoke;
    height: 90px;
}

.Willkommen{
    width: 100%;
    height: auto;
    top: 45%;
    margin: 0 auto;
    position: relative;
    background-color: rgba(100, 100, 100, 0.7);
}



h1{
    padding: 10pt;
    margin: 0 auto;
    text-align: center;
    font-family: Arial;
    font-size: 40px;
}

.columns{
    margin:0pt;
    padding-left: 50px;
    overflow: hidden;
    text-align: center;
}

.columns li{
    text-align: center;
    float: left;
    display: inline;
    border: solid;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 200pt;
    width: 40%;
    margin:30pt;
    list-style: none;
    background-color: black;
    color: whitesmoke;
}

#columnalign{
    align-content: center;
    display: inline-block;
}

.content{
    text-align: center;
    font-family:Arial;
    font-size:20px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 200px;
    padding-left: 200px;
}

.canvas{
    height:400pt;
}