<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="NavigationBar">
    <div id="logo1">
        <img th:src="@{/img/logo-logo-schwarz-100-760x340.png}"/>
    </div>
    <ul class="navigationlist">
        <li><a type="button" th:href="@{/home}">Home</a></li>
        <li><a type="button" th:href="@{/gallery}">Gallery</a></li>
        <li><a type="button" th:href="@{/animation}">Animation</a></li>
        <li><a type="button" th:href="@{/price}">Price</a></li>
        <li><a type="button" th:href="@{/contact}">Contact</a></li>
        <li><a type="button" th:href="@{/us}">Us</a></li>
    </ul>
</div>
<br class="clear"/>
<div class="gap"></div>
<div class="canvas"></div>
<div class="gap"></div>

</body>
</html>