<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="main.css" type="text/css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="NavigationBar">
    <div id="logo1">
        <img src="img/logo-logo-schwarz-100~760x340.png">
    </div>
    <ul class="navigationlist">
        <li><a type="button" href="#">Home</a></li>
        <li><a type="button" href="#">Gallery</a></li>
        <li><a type="button" href="#">Animation</a></li>
        <li><a type="button" href="#">Price</a></li>
        <li><a type="button" href="#">Contact</a></li>
        <li><a type="button" href="#">Us</a></li>
    </ul>
</div>
<br class="clear">
<div class="gap"></div>
<div class="HomeGallery">
    <div id="columnalign">
        <ul class="columns">
            <li>Bild1</li>
            <li>Bild2</li>
            <li>Bild3</li>
            <li>Bild4</li>
            <li>Bild5</li>
            <li>Bild6</li>
            <li>Bild7</li>
            <li>Bild8</li>
            <li>Bild9</li>
            <li>Bild10</li>
        </ul>
    </div>
</div>

<div class="gap"></div>

<footer>

</footer>
</body>
</html>