<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Family Apartments for Holiday</title>
</head>
<body>

<div th:class="uk-grid">
    <h1 th:text="#{apartment.rental.title}" class="uk-width-1-1">Family Apartments for Holiday</h1>

    <div class="NavigationBar">
        <div id="logo1">
            <img th:src="@{/img/logo-logo-schwarz-100-760x340.png}"/>
        </div>
        <ul class="navigationlist">
            <li><a type="button" th:href="@{/home}">Home</a></li>
            <li><a type="button" th:href="@{/gallery}">Gallery</a></li>
            <li><a type="button" th:href="@{/animation}">Animation</a></li>
            <li><a type="button" th:href="@{/price}">Price</a></li>
            <li><a type="button" th:href="@{/contact}">Contact</a></li>
            <li><a type="button" th:href="@{/us}">Us</a></li>
        </ul>
    </div>
</div>
<br class="clear"/>
<div class="gap"></div>
<div class="Home1">
</div>

<div class="gap"></div>
<div class="content">
    <span th:text="#{apartment.rental.address}"/><br/>
    <span th:text="#{apartment.rental.cost.list.year}"/><br/>
    <span th:text="#{apartment.rental.monthly.winter.cost}"/><br/>
    <span th:text="#{apartment.rental.monthly.summer.cost}"/><br/>
    <span th:text="#{apartment.rental.monthly.text}"/><br/>
    <span th:text="#{apartment.rental.payment.for.billing.special.offer}"/><br/>
    <span th:text="#{apartment.rental.breakfast.text}"/><br/>
    <span th:text="#{apartment.rental.beach.distance.text}"/><br/>
    <span th:text="#{apartment.rental.room.info}"/><br/>
    <span th:text="#{apartment.rental.kitchen.info}"/><br/>
    <span th:text="#{apartment.rental.airport.transport}"/><br/>
    <span th:text="#{apartment.rental.sending.photo.text}"/><br/>
    <span th:text="#{apartment.rental.whatsapp.contact}"/><br/>

</div>
<div class="gap"></div>


<footer>
    <ul class="language">
        <a href="http://localhost:5000/?lang=tr"><img th:src="@{/img/language/tr.png}"/></a>
        <a href="http://localhost:5000/?lang=en"><img th:src="@{/img/language/gb.png}"/></a>
        <a href="http://localhost:5000/?lang=de"><img th:src="@{/img/language/de.png}"/></a>
        <a href="http://localhost:5000/?lang=ru"><img th:src="@{/img/language/ru.png}"/></a>
    </ul>
</footer>

</body>
</html>