<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="main.css" type="text/css"/>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="NavigationBar">
    <ul class="navigationlist">
        <li><a type="button">Home</a></li>
        <li><a type="button">Galary</a></li>
        <li><a type="button">Animation</a></li>
        <li><a type="button">Price</a></li>
        <li><a type="button">Kontakt</a></li>
        <li><a type="button">Über Uns</a></li>
    </ul>
</div>
<div class="Home">

Test Text

</div>
<div class="Galary">

</div>


</body>
</html>